In [23]:
from sqlalchemy import create_engine, Column, Integer, String, Numeric, Text, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

import pandas as pd

In [24]:
file1="Resources/clean_hawaii_measurements.csv"
file2="Resources/clean_hawaii_stations.csv"
df1 = pd.read_csv(file1)
df2= pd.read_csv(file2)
df1.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [25]:
Base = declarative_base()
class Station(Base):
    __tablename__='station'
    id = Column(Integer, primary_key=True)
    station=Column(String(255))
    name=Column(String(2555))
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)

class Measurement(Base):
    __tablename__='measurement'
    station=Column(Integer, primary_key=True)
    date=Column(String(255))
    prcp=Column(Float)
    tobs=Column(Integer)

In [26]:
engine = create_engine('sqlite:///resources/hawaii.sqlite', echo=False)
Base.metadata.create_all(engine)
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [30]:
df1.to_sql(measurement,engine)

NameError: name 'measurement' is not defined